.textgame-main-frame {
    border: 1px solid #E6E6FA;
    border-radius: 25px;
    /*padding: 25px;*/
    width: 800px;
    height: 600px;
    position: relative;
}

.textgame-dialog-frame {
    border-top: 1px solid #E6E6FA;
    /*border-radius: 25px;*/
    padding: 25px;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 5%;
    /*margin: 0 auto;*/
}